.body
{
min-width: 320;
padding: 4px;
display: flex;
flex-direction: column;
gap: 10px;
left: 2334px;
top: 736px;
position:relative;
}

.Header-Container
{

}


.Logo-Container
{

}

.Logo-Inner-Container
{

}

.Nav-Container
{

}

.Nav-Inner-Container
{

}

.NavButton
{
padding: 10px;
}

