{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero-container">
    
    <div class="hero">
        
        <div class="hero-img">
            <img src="{% static 'images/Placeholder.png' %}" alt="Community gathering">
        </div>

        <div class="hero-text">
            <div class="hero-text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>

            <div class="hero-buttons">
                <a href="{% url 'events:event_list' %}" class="btn-hero btn-green">View All Events</a>
                <a href="{% url 'events:event_list' %}" class="btn-hero btn-brown">Attend an Event</a>
            </div>

        </div>
    </div>

</section>
{% endblock %}